{% extends "layout.html" %}
{% block title %}RequestBin - {{bin.name}}{% endblock %}
{% block icon %}<link rel="shortcut icon" href="{{bin.favicon_uri}}" />{% endblock %}

{% block sidebar %}{% endblock %}

{% block binurl %}
  <a href="/{{bin.name}}?inspect"><i class="icon-circle icon-2x" style="color: rgb{{bin.color}}"></i></a>
  <input type="text" value="https://{{host}}/{{bin.name}}" onclick="this.select()" /> 
  {% if bin.private %}<i class="icon-lock"></i>{% endif %}
{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
    {% for request in bin.requests %}
      <div class="message-wrapper" id="message-wrapper-{{request.id}}">
        <div class="message-list">
          <div class="row-fluid">
            <div class="span4">
              http://{{host}}<br>
              <span class="method">{{request.method}}</span> 
              <span class="absolute-path">{{request.path}}</span><span class="querystring">{{request.query_string|to_qs}}</span>
            </div>
            <div class="span6 content">
              {% if request.content_type %}<i class="icon-code"></i>{% endif %} {{request.content_type}}<br>
              <i class="icon-cloud-upload"></i> {{request.content_length|friendly_size}}
            </div>
            <div class="span2" class="timestamp">
              <span title="{{request.time|exact_time}}">{{request.time|approximate_time}} ago
                <a href="#{{request.id}}"><i class="icon-link"></i></a>
              </span><br>
              From {{request.remote_addr}}
            </div>
          </div>
        </div>

        <div id="detail-{{request.id}}" class="message-detail">
            {{ message_detail(request) }}
        </div>
      </div>
    {% else %}

      <h4 class="text-center">Bin URL</h4>
      <h2 class="text-center">
        <input class="xxlarge input-xxlarge" type="text" value="https://{{host}}/{{bin.name}}" onclick="this.select()" style="border-color: rgb{{bin.color}}; border-width: 3px;" /></h2>
      <p class="text-center">{% if bin.private %}This is a private bin. Requests are only viewable from this computer.{% endif %}

      <hr>
      <div class="row-fluid">
        <div class="span6 offset3">

      <h4>Make a request to get started.</h4>

      <h5>cURL</h5>
      <pre>curl -X POST -d "fizz=buzz" https://{{host}}/{{bin.name}}</pre>

      <h5>Python (with Requests)</h5>
      <pre class="prettyprint">import requests, time
r = requests.post('https://{{host}}/{{bin.name}}', data={"ts":time.time()})
print r.status_code
print r.content</pre>

      <h5>Node.js (with request)</h5>
      <pre class="prettyprint">var request = require('request');
var url ='https://{{host}}/{{bin.name}}'
request(url, function (error, response, body) {
  if (!error) {
    console.log(body);
  }
});</pre>

      <h5>Ruby</h5>
      <pre class="prettyprint">require 'open-uri'
result = open('https://{{host}}/{{bin.name}}')
result.lines { |f| f.each_line {|line| p line} }</pre>

      <h5>C# / .NET</h5>
      <pre class="prettyprint">using System;
using System.Net.Http;
using System.Threading.Tasks;

namespace RequestBinExample
{
  class Program
  {
    static void Main(string[] args)
    {
      MakeRequest();
    }

    private static async Task MakeRequest()
    {
      var httpClient = new HttpClient();
      var response = await httpClient.GetAsync(new Uri("https://{{host}}/{{bin.name}}"));
      var body = await response.Content.ReadAsStringAsync();
      Console.WriteLine(body);
    }
  }
}</pre>

      <h5>Java</h5>
      <pre class="prettyprint">import org.apache.commons.httpclient.*;
import org.apache.commons.httpclient.methods.*;
import org.apache.commons.httpclient.params.HttpMethodParams;

import java.io.*;

public class RequestBinTutorial {
  public static void main(String[] args) {
    HttpClient client = new HttpClient();
    GetMethod method = new GetMethod("https://{{host}}/{{bin.name}}");
    try {
      int statusCode = client.executeMethod(method);
      byte[] responseBody = method.getResponseBody();
      System.out.println(new String(responseBody));
    } catch (Exception e) {
      System.err.println("Fatal error: " + e.getMessage());
      e.printStackTrace();
    } finally {
      method.releaseConnection();
    }
  }
}</pre>

      <h5>PHP</h5>
      <pre class="prettyprint">&lt;?php
    $result = file_get_contents('https://{{host}}/{{bin.name}}');
    echo $result;
?&gt;</pre>

        </div>
      </div>

    {% endfor %}

      <hr>

      <div class="alert-message block-message info">
        <h4>Limits</h4>
        <p>This {% if bin.private %}<strong>private</strong>{% endif %}
        bin will keep the last 20 requests made to it and remain available for 48 hours after it was created.
        However, data might be cleared at any time, so <strong>treat bins as highly ephemeral</strong>.</p>

        <h4>Need more?</h4>
        <p><a href="https://www.runscope.com/?utm_source=partner&amp;utm_medium=link&amp;utm_campaign=requestbin">Sign up for a free Runscope account</a>. Runscope request captures give you live updates, permanent URLs, file handling and much more.</p>
      </div>
{% endblock %}


{% macro message_detail(request) %}
<div id="request-detail-{{request.id}}" class="request-detail">
    <div class="row-fluid">
      <div class="span4">
        <h5>FORM/POST PARAMETERS</h5>
        {% for k,v in request.form_data %}
          <p class="keypair"><strong>{{k}}:</strong> {{v}}</p>
        {% else %}
          <em>None</em>
        {% endfor %}

        {% if request.query_string and not request.query_string is string %}
          <h5>QUERYSTRING</h5>
          {% for k,v in request.query_string|dictsort: %}
            {% if not v %}
              <p class="keypair"><strong>{{k}}</strong></p>
            {% else %}
              <p class="keypair"><strong>{{k}}:</strong> {{v}}</p>
            {% endif %}
          {% endfor %} 
        {% endif %}
      </div>
      <div class="span8">
        {% if request.headers %}
          <h5>HEADERS</h5>
            {% for header in request.headers.items() %}
              <p class="keypair"><strong>{{header.0}}:</strong> {{header.1|escape}}</p>
            {% endfor %}
        {% endif %}
      </div>
    </div>

    <h5>RAW BODY</h5>
    <div class="request-body" data-id="{{ request.id }}">
<pre class="body prettyprint">{%if request.raw%}{{request.raw}}{%else%}<em>None</em>{%endif%}</pre>

  </div>
</div>
{% endmacro %}
